.mainbody{
    overflow: auto;
}

.firbody{
    margin-top: 56px;
    overflow: auto;
}

.secbody{
    margin-left: 270px;
}

.ff{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hello{
    background-color: black;
    text-align: center;
    width: 270px;
    min-width: 270px;
    color: white;
    overflow: auto;
    margin: auto;
}

.inside-hello{
    float: left;
}

.eiei{
    width: 270px;
    background-color: red;
    color: white;
    text-align: center;
    overflow: auto;
    margin: auto;
    padding: auto;
}

.hihi{
    width: 270px;
    background-color: blue;
    color: white;
    overflow: auto;
    text-align: center;
    margin: auto;
    padding: auto;
}